*{
      box-sizing: border-box;
}

body{
      padding: 0;
      margin: 0;
}

nav{
      background-color: #7e7d7d;
      display: flex;
      align-items: center;
      justify-content: center;
}

.nav-bar{
      max-width: 1240px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav-bar img{
      width: 120px;
}

.nav-items{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.nav-items a{
      text-decoration: none;
      color: #4CC5D8;
      font-weight: 500;
}

.container{
      max-width: 1240px;
      width: 100%;
      margin: 0 auto;
}

.products{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      position: relative;
}

.product{
      width: 100%;
      box-shadow: 1px .5px 2px .5px;
      border-radius: 5px;
      padding-bottom: 10px;
}

.product img{
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
}

.product p{
      text-transform:capitalize;
      margin-left: 10px;
}

.product h6, .product span{
      margin-left: 10px;
}

.product-details{
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;

      
      
}

#popup{
      background-color: #edebeb;
      box-shadow: 1px 1px 2px 1px #a09e9e;
      border-radius: 5px;
      padding: 15px;

      max-width: 600px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin: 100px auto;
}

.product-details img{
      width: 50%;
}

.details{
      width: 50%;
}


.inactive{
      visibility: hidden;
}